{% extends "network/layout.html" %}

{% block body %}
    <h1>{{ test }}</h1>
    <div><h4>Posts from user you follow.</h4></div>
    <div id="all_posts">
        {% for post in all_posts %}
            <div id="single_post">
                <div id="post_container">
                    <div id="post" data-postid="{{post.id}}">{{ post }}</div>
                    <div id="edit_div">
                        {% if post.user == request.user %}
                        <button id="edit_button" data-buttonid="{{post.id}}">edit</button>
                        {% endif %}
                    </div>
                </div>
                <div id="poster_info">
                    <div><a href="{% url 'profile' post.user %}">{{post.user}}</a></div>
                    <i class="fa-regular fa-clock"></i> {{post.time_posted}}<br>
                    {% if user.is_authenticated %}
                        {% if request.user in post.likes.all %}
                            <div>
                                <span id="postcount{{post.id}}"> {{post.likes.count}} </span>
                                <i class="fa-solid fa-heart liked" id="like_icon" data-iconid="{{post.id}}"></i>
                            </div>
                        {% else %}
                            <div>
                                <span id="postcount{{post.id}}"> {{post.likes.count}} </span>
                                <i class="fa-regular fa-heart" id="like_icon" data-iconid="{{post.id}}"></i>
                            </div>
                        {% endif %}
                    {% else %}
                        <div>
                            <span> {{post.likes.count}} </span>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    {% endif %}
                </div>
            </div><br>
        {% endfor %}

        <div id="paginator">
            {% if all_posts.has_previous %}
                <a href="?page=1">&laquo First </a>
                <a href="?page={{ all_posts.previous_page_number }}">Previous</a>
            {% endif %}
            Page {{ all_posts.number }} of {{ all_posts.paginator.num_pages }}
            {%if all_posts.has_next %}
                <a href="?page={{ all_posts.next_page_number }}">Next</a>
                <a href="?page={{ all_posts.paginator.num_pages }}">Last &raquo</a>
            {% endif %}
        </div>

    </div>
{% endblock %}