{% extends "network/layout.html" %}

{% block body %}
    <h1>{{ test }}</h1>
    <div><h4>Posts from user you follow.</h4></div>
    <div id="all_posts">
        {% for post in all_posts %}
            <div id="single_post">
                <div id="post">{{ post }}</div>
                <a href="{% url 'profile' post.user %}">{{post.user}}</a><br>
                {{post.time_posted}}<br>
                {{post.likes.count}}
            </div><br>
        {% endfor %}

        <div id="paginator">
            {% if all_posts.has_previous %}
                <a href="?page=1">&laquo First </a>
                <a href="?page={{ all_posts.previous_page_number }}">Previous</a>
            {% endif %}
            Page {{ all_posts.number }} of {{ all_posts.paginator.num_pages }}
            {%if all_posts.has_next %}
                <a href="?page={{ all_posts.next_page_number }}">Next</a>
                <a href="?page={{ all_posts.paginator.num_pages }}">Last &raquo</a>
            {% endif %}
        </div>

    </div>
{% endblock %}