{% extends "network/layout.html" %}

{% block body %}
    <h1>{{ test }}</h1>
    <div id="profile">
        <h1>TODO: add user profile heading/template</h1>
        <h4>Welcome to {{ profile_user|title }}'s profile.</h4>
        <div>Followers: {{ total_followers }} </div>
        <div>Following: {{ total_followees }} </div>
        {% if can_follow %}

                <form action="{% url 'follow' profile_user %}" method="POST">
                    {% csrf_token %}
                    <button type="submit"> {{ follow_status }} </button>
                </form>
        {% endif %}
    </div>

    <div id="all_posts">
        {% for post in all_posts %}
            <div id="single_post">
                <div id="post" data-postid="{{post.id}}">{{ post }}</div>
                <a href="{% url 'profile' post.user %}">{{post.user}}</a><br>
                {{post.time_posted}}<br>
                {{post.likes.count}}
                <div id="edit_div">
                    {% if post.user == request.user %}
                    <button id="edit_button" data-buttonid="{{post.id}}">edit</button>
                    {% endif %}
                </div>
            </div><br>
        {% endfor %}

        <div id="paginator">
            {% if all_posts.has_previous %}
                <a href="?page=1">&laquo First </a>
                <a href="?page={{ all_posts.previous_page_number }}">Previous</a>
            {% endif %}
            Page {{ all_posts.number }} of {{ all_posts.paginator.num_pages }}
            {%if all_posts.has_next %}
                <a href="?page={{ all_posts.next_page_number }}">Next</a>
                <a href="?page={{ all_posts.paginator.num_pages }}">Last &raquo</a>
            {% endif %}
        </div>

    </div>
{% endblock %}