body {
    background-color: #ababab;
    color: white;
    position: relative;
    text-align: center;

}

a {
    color: yellow;
}

.nav {
    background-color: #222222 !important;
}

.nav-link {
    color: yellow !important;
}

.navbar-brand {
    color: yellow !important;
}

#poster_info {
    width: 30%;
    float: right;
    /*border: 1px solid greenyellow;*/
    text-align: center;
}

#post_form {
    text-align: center;
    align-items: center;
    display: inline-block;
}



#all_posts {
    background-color: #ababab;
    position: relative;
    text-align: center;
    color: white;
}

#single_post {
    background-color: #393939;
    border: 1px solid black;
    width: 50%;
    height: 100%;
    align-items: center;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

#paginator {
    color: white;
    margin: 5px;
    margin-bottom: 15px;
    background-color:
        #ababab;
}

#paginator a {
    color: black;
}

.liked {
    color: red;
}

#post_container {
    height: 100%;
    width: 70%;
    float: left;
}

#edit_div {
    width: 520px;
}

h1 {
    color: black;
}

#edit_button {
    padding: 0px 8px;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 100px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #120b1e;
    transition: all 0.2s;
}

#edit_button:hover {
    color: #ffffff;
    background-color: #000000;
}

#post_button_id {
    width: 64px;
    padding: 0px 8px;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 100px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #120b1e;
    transition: all 0.2s;
}

#post_button_id:hover {
    color: #ffffff;
    background-color: #000000;
}

#save_button {
    padding: 0px 8px;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 100px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #120b1e;
    transition: all 0.2s;
}

#save_button:hover {
    color: #ffffff;
    background-color: #000000;
}

#post {
    min-height: 64px;
    width: 520px;
}


#profile {
    background-color: #202020;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 95%;
    align-items: center;
    display: inline-block;
    border-radius: 10px;

}

#follow_btn {
    padding: 0px 8px;
    border: 0.1px solid #FFFFFF;
    margin: 0px 0.3px 0.3px 0px;
    border-radius: 100px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #120b1e;
    transition: all 0.2s;
    width: 64px;
}

#follow_btn:hover {
    color: #ffffff;
    background-color: #000000;
}

#follow_form {
    margin: 16px;
    margin-bottom: 0px;
}